html, body {
    margin: 0 auto;
    padding: 0;
    background-color: blueviolet;
}

.title {
    text-align: center;
}

.table {
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}